.buy-btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.buy-btn:hover {
    color: green;
}


.card-long {
    text-align: center;
}