.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border: 1px solid #919191;
    border-radius: 2rem;
}

.count {
    font-size: 20px;
    margin: 0 10px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
}

.btn-counter {
    width: 20px;
    height: 20px;
    border-radius: 2rem;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}
